name: Redis Server CI

on:
  push:
    paths:
      - 'src/**'
  pull_request:
    paths:
      - 'src/**'

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4.3.1
    - name: Set up JDK 23
      uses: actions/setup-java@v4.7.1
      with:
        java-version: '23'
        distribution: 'temurin'
        cache: maven
    - name: Test with Maven
      run: |
        mvn clean test
